* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;

}

.App {
    text-align: center;
    background-color: rgba(183, 60, 80, 0.85);

}

.current {
    color: #040404;
    padding-bottom: 1em;
}

.forecast {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: start;
    align-items: center;
    padding-top: 7px;
    gap: 1em;
    line-grid: create;
    background-color: rgba(45, 45, 45, 0.77);
    color: #e4e7e7;
}

.forecast-container {
    display: flex;
    flex-direction: column;
}


.forecast > h3 {
    grid-column-start: 1;
    grid-column-end: 6;
    justify-self: center;
}

.icon {
    justify-self: start;

}

.header {
    background-color: rgba(93, 75, 78, 0.85);
    background-image: url("img/city.jpg");

}

input {
    margin: 5px;
    height: 1.5em;
    width: 40vw;
    font-size: x-large;
    text-align: center;
    border-radius: 20px;
    transition: 0.8s;
    background-image: url('img/searchicon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    border: 1px dot-dot-dash #5d4e4a;


}

input:focus {
    width: 70vw;
    height: 1.5em;
    transition: 0.8s;
    border-radius: 40px;
    font-size: xx-large;
    margin-bottom: 10px;
    background-image: url('img/searchiconbig.png');
    background-position-x: 10px;
}

.navigation {
    position: absolute;
    top: 12px;
    border: 0px solid;
    background-color: #fbaeba;
    transition: 0.8s;

}

.navigation:hover {
    cursor: pointer;
}

input:focus + .navigation {
    position: absolute;
    top: 20px;
    border: 0px solid;
    background-color: #fbaeba;
    transition: 0.8s;

}

.hourly-forecast {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hourly-whole {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    background-color: #fcbaa6;
    padding-bottom: 3em;
}

#hourly-title {
    background-color: wheat;
}
